@model MVCDemo.Models.SysUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加</title>
</head>
<body>
    <div>

        <h2>添加</h2>

        @using (Html.BeginForm())
        {

            <div>

                @Html.LabelFor(model => model.UserName)

                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)

            </div>

            <div>

                @Html.LabelFor(model => model.Email)

                @Html.EditorFor(model => model.Email)

            </div>

            <div>

                @Html.LabelFor(model => model.Password)

                @Html.PasswordFor(model => model.Password)

            </div>

            <div>

                <input type="submit" value="添加" />

            </div>

        }

        <div>@Html.ActionLink("返回列表", "Index")</div>

    </div>
</body>
</html>
