@model MVCDemo.Models.SysUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h2>Edit</h2>

        @using (Html.BeginForm())
        {
            
            @Html.HiddenFor(model => model.ID)

            <div>
                <input type="hidden" value="@Model.CreateDate" name="CreateDate"/>
                @Html.LabelFor(model => model.UserName)

                @Html.EditorFor(model => model.UserName)

            </div>

            <div>

                @Html.LabelFor(model => model.Email)

                @Html.EditorFor(model => model.Email)

            </div>

            <div>

                @Html.LabelFor(model => model.Password)

                @Html.PasswordFor(model => model.Password)@*看不到内容*@

            </div>

            <div>

                <input type="submit" value="Save" />

            </div>

        }

        <div>@Html.ActionLink("返回列表", "Index")</div>

    </div>
</body>
</html>
