@*@model IEnumerable<MVCDemo.Models.SysUser>*@
@model PagedList.IPagedList<MVCDemo.Models.SysUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="page-header">MVCDemo</h1>

<p class="sub-header">@Html.ActionLink("添加", "Create")</p>
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <p>
        查询用户名:@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.currentFilter })
                </th>
                <th>Email
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName);
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email);
                    </td>
                    <td>
                        @Html.ActionLink("详情", "Details", new { id = item.ID });@*生成一个相同controller下的路由地址*@
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.ID });
                    </td>
                    <td>
                        @Html.ActionLink("删除", "Delete", new { id = item.ID });
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br />
     <br/>
    Page @(Model.PageCount < Model.PageNumber? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page,sortOrder=ViewBag.CurrentSort,currentFilter=ViewBag.CurrentFilter}))
@*PageCount总页数，PageNumber当前页数（从0开始），如果PageCount=0，就是没数据，显示0 for 0 *@
</div>
